html {
    background-color: #090e11;
}

.app {
    background-color: #090e11;
}

.app-header {
    background-color: #2a2f32;
    color: #dfe0e2;
    border-bottom: 1px solid #30383d;
}

.login {
    width: 40%;
    height:40%;
    border-radius: 15px;
    background-color: #2a2f32;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-header {
    background-color: #2a2f32;
    color: #dfe0e2;
    height: 50px;
    margin-bottom:3px;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
.chat {
    background-color: #0a0c0d;
    height: 80vh;
}

.chat-box {
    background-color: #0a0c0d;
    height: 80vh;
    overflow-y: auto;
}

.chat-input {
    background-color: #2a2f32;
    color: #dfe0e2;
    height: 50px;
}

.group-header {
    background-color: #2a2f32;
    color: #dfe0e2;
    border-right: 1px solid #30383d;
    height: 50px;
}

.group-box {
    /*height: 80vh;*/
    /*overflow-y: overlay;
    overflow-x:visible;*/
    
}

.group {
    background-color: #131c21;
    cursor: pointer;
    color: white;
    border-bottom: 1px solid #30383d;
}

.group-sidebar {
    height: 80vh;
    border-bottom: 1px solid #30383d;
    overflow-y: overlay;
}
.scroll {
    height: 40vh;
    overflow-y: auto;
}

.group:hover {
    background-color: #2d3134;
}

.group-selected {
    background-color: #323739;
    cursor: pointer;
    color: white;
    border-bottom: 1px solid #30383d;
}

.group-title {
    color: #dfe0e2;
    font-weight: bold;
}

.group-text {
    color: #9fa2a5;
}

.err {
    color: red;
}