
.user {
	font-size: 0.825rem;
	color: #056162;
}

.date {
	font-size: 0.525rem;
}

.message {
	padding:5px;
	margin:0px;
}

.user-message {
	background-color: #056162;
	border-color: #333;
}

.other-message {
	background-color: #262d31;
	border-color: #333;
}