.message-list {
	max-width: 500px;
	width: 100%;
}

.message-container {
	display: flex;
	flex-direction: row;
	padding: 0.5rem;
	border-bottom: 1px solid #eeeeee;
}

.user {
	font-size: 0.825rem;
	color: #056162;
}

.date {
	font-size: 0.525rem;
}

.message {
	padding:5px;
	margin:0px;
}

.usermessage {
	background-color: #056162;
	border-color: #333;
}

.othermessage {
	background-color: #262d31;
	border-color: #333;
}